*,*:after,*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin: 0 auto;
}


section p {
  color: red;
}

#error{
  text-align: center;
}

#reporteClima{
  display: flex;
  justify-content:center;
  text-align: center;
  flex-direction: column;
}

#cardClima{
  margin: 15px auto;
  max-width: 400px;
}