*,*:after,*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    margin: 0 auto;
    
}
main{
  margin-top:55px;
}
#find{
  display: inline-flex;
}

#find-city,#longitude,.button{
  margin-top: 7px;
  border: 1px solid #128CF5;

}

section p {
  color: red;
}

#error{
  text-align: center;
}

#reporteClima{
  display: flex;
  justify-content:center;
  text-align: center;
  flex-direction: column;
  font-size: 1.5rem;
}

#cardClima{
  margin: 15px auto;
  max-width: 400px;
  height:  370px;
  border-radius:45px;
}

#content-weather{
  height:300px;
}

/*otra seccion*/

hr{
  margin: 20px auto;
}

.div-secondpart{
  display: inline-flex;
}
.div-secondpart > div{
  margin: 8px 10px;
}


@media screen and (max-width: 768px){
#media-content {
    overflow-x: overflow;
}}